@charset "UTF-8";
/* CSS Document */

#homecontainer{
	width:100;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}


header{
	width:100%;
	text-align: center;
}

ul{
  list-style-type: none;
  margin: 0;
}

li{
	display:inline;
}


header a:link {
  font-family: adobe-handwriting-ernie, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  color:rgba(104,104,104,.75);
  text-decoration: none;
  margin-right: 20px;
}

a:visited {
}

a:hover {
  color:rgba(104,104,104,1);
}

a:active {
  text-decoration: underline;
}

.footer{
	text-align: center;
	clear:both;
	font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
	font-size: 10px;
}

.fa {
  padding: 10px;
  font-size: 15px;
  width: 10px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa-instagram {
  background: #b35fbf;
  color: white;
}

.fa-etsy {
  background: #ff6600;
  color: white;
}

.fa-envelope-o {
  background: #f04fb1;
  color: white;
}


p{
  font-family: adobe-handwriting-frank, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
}

/* Home Image Logo */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
}

h1{
  font-family: adobe-handwriting-frank, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 23px;
  color:rgba(104,104,104,1);
}
nav{
  font-family: adobe-handwriting-ernie, sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Contact Form */
      input[type=text], select, textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
      }

      input[type=submit] {
        background-color: #b35fbf;
        color: white;
        padding: 12px 20px;
        width: 15%;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }

      input[type=submit]:hover {
        background-color: #d5a9ec;
      }

      .contactcontainer {
        width: 65%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 5px;
        border: 3px solid #b35fbf;
        background-color: white;
        padding: 20px;
      }
